<head>
  <meta charset="utf-8">
  <title>Sam & Cora</title>
  <link href="https://fonts.googleapis.com/css?family=Cinzel+Decorative|Muli:200,300,400,700" rel="stylesheet">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

  <!-- JAVASCRIPT -->
  <script
		src="https://code.jquery.com/jquery-3.1.1.min.js"
		integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
		crossorigin="anonymous"></script>
  <script
    type="text/javascript"
    src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
</head>
