---
layout: wedding
---

<!DOCTYPE html>
<html lang="en" dir="ltr">
  {% include head.html %}
  <body class="wedding">
    <header>
      <h1>Our wedding</h1>
    </header>
    <section class="introduction">
      <p>Sam proposed to me on an isolated beach on the west coast of Scotland on 26th August 2017. We were married less than a year later on 11th August 2018 in the Scottish Borders. Our budget wasn’t big enough for a wedding planner and so we decided to plan it all ourselves. Living over 360 miles away in London, it was challenging to plan a wedding so far away but it was all worth it for our dream day.</p>

      <h2>Blogs</h2>

      <p>Our wedding exceeded my expectations in every way. We had an incredible day full of fun and dancing and I am incredibly proud of what me and my partner (and many helpers!) put together. The year that preceded the wedding was exciting, challenging, inspiring and stressful and so I wanted to prepare this record of everything we did to plan the wedding. Once I wrote it I decided to make it public in case it might be useful to anyone planning their own wedding.</p>

      <ul class="box-container">
        {% assign posts = site.posts | where: "categories", "wedding" %}
        {% for post in posts reversed %}
        <li class="box-link"><a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>


      {% include wedding/images.html %}
      {% include wedding/websites.html %}
    </section>
  </body>
</html>
