<div class="websites">
  <h3>Websites</h3>

  <p>We decided to do the wedding invitations in 21st century style. We built three different versions of the same website, and sent links to our wedding guests. On the save-the-date we linked it up with Google forms to get the contact and attendee details.</p>
  <ul class="box-container">
    <li class="box"><a href="https://save-the-date.samandcora.com">Save the date</a></li>
    <li class="box"><a href="https://the-big-day.samandcora.com">The big day</a></li>
    <li class="box"><a href="https://thank-you-for-coming.samandcora.com">Thank you for coming</a></li>
  </ul>

  <p>When it came to the actual wedding invites, we went with the usual paper invites, although we made our own. Within hte invitations were references to the website for 'further detail' which meant we didn't have to cram the invitations with content and thus looked more stylish.</p>
</div>
