h1, h2, h3, h4, h5 {
  font-family: $header-font-stack;
}

p, a {
  font-family: $body-font-stack;
  font-weight: 300;
  line-height: 1.5rem;
}

h1, h2, h3, h4, h5, a {
  text-align: center;
  user-select: none;
}

h2, h3, h4, h5 {
  padding: 1rem 0 0.5rem 0;
}

// DEFAULT HIGHLIGHT COLOR
::selection {
  background: lighten($secondary-color, 90%);
  color: $secondary-color;
}

h1 {
  font-size: 5rem;
  padding: 1.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.75rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
}

p {
  font-size: 1rem;
}

a {
  text-align: center;
  text-decoration: none;
  color: $secondary-color;
}
